<center>
<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.label "Email" %><br />
  <%= f.email_field :email %><br />

  <%= f.label "Senha" %><br />
  <%= f.password_field :password %><br />

  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me %> <%= f.label "Relembrar" %><br />
  <% end %>

  <%= f.submit "Entrar" %>
<% end %>
</center>
