<h2>Login</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label "Email" %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label "Senha" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? %>
    <div><%= f.check_box :remember_me %> <%= f.label "Manter conectado." %></div>
  <% end %>

  <div><%= f.submit "Entrar" %></div>
<% end %>
<%= link_to "Sign in", new_session_path(resource_name) %><br />
