<table>
	<tr>
		<td><h2><%= @post.titulo %></h2></td>
	</tr>	
	<tr>
		<td><%= @post.corpo %></td>
	</tr>	
	<tr>
		<% unless @post.user.profile.nil? %>
			<td><i><%= "Autor: #{@post.user.profile.nome} - Data: #{@post.created_at}" %></i></td>
		<% else %>
			<td><i><%= "Autor: Não Identificado - Data: #{@post.created_at}" %></i></td>
		<% end %>
	</tr>	
	<tr>
		<td>
			<%= link_to "Voltar", root_path %> |
			<%= link_to "Editar", edit_post_path(@post.id) %> | 
			<%= link_to "Remover", post_path(@post.id), :confirm => 'Deseja realmente remover esse post?', :method => :delete %></td>
		</td>
	</tr>
</table>
